DB_USER=
DB_NAME=
DB_PASSWORD=

SERVER_URL=
SERVER_PORT=
SERVER_HTTPS_PORT=
SERVER_PROTOCOL=
SERVER_RTMP_PORT=

TMDB_API_KEY=

ADMIN_DEFAULT_USERNAME=admin
ADMIN_DEFAULT_PASSWORD=
ADMIN_DEFAULT_EMAIL=admin@iptv.com

MINIO_USER=minioadmin
MINIO_PASSWORD=
MINIO_URL=http://minio:9000